/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

body {
  background-color: coral;
}

h1 {
  font-family: "Big John", sans-serif;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 5px;
  margin-left: 10%;
  margin-top: 20px;
  color: whitesmoke;
}

.top-home {
  position: relative;
  width: 100%;
}
.top-home-img {
  width: 100%;
}
.top-home-txt {
  position: absolute;
  font-family: "Big John", sans-serif;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 5px;
  top: 30%;
  left: 50px;
  background-color: rgba(250, 129, 0, 1);
  color: whitesmoke;
  border-radius: 15px;
  padding: 20px;
}

label {
  color: whitesmoke;
  font-family: "Big John", sans-serif;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: whitesmoke;
}

#submitContact {
  font-family: "Big John", sans-serif;
  color: whitesmoke;
}

#submitContact:hover {
  color: coral;
}

.social-media {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 1);
  color: whitesmoke;
}

footer > div > div > div > a {
  color: whitesmoke;
}

footer > div > div > div > a:hover {
  color: whitesmoke;
}

:target {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}
