<div class="projects">
  <h1 style="color: coral">My socials media</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col pt-3" style="text-align: center;">
        <a
          href="https://www.linkedin.com/in/guillaume-maurin-932264180/"
          target="_blank"
        >
          <img
            class="social-media"
            src="./assets/img/linkedin.png"
            alt="linkedin"
          />
        </a>
        <a href="https://github.com/guillaumeMECE" target="_blank">
          <img
            class="social-media"
            src="./assets/img/github.png"
            alt="github"
          />
        </a>
        <a href="https://www.facebook.com/guillaume.maurin.125" target="_blank">
          <img class="social-media" src="./assets/img/facebook.jpg" alt="fb" />
        </a>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        Guillaume MAURIN -
        <a href="mailto:guillaume.maurin@edu.ece.fr"
          >guillaume.maurin@edu.ece.fr</a
        >
        -
        <a href="tel:+33760577499">+33760577499</a>
      </div>
    </div>
  </div>
</footer>
