<div id="navbar" class="shadow">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col pt-2" style="text-align: center">
        <a href="#timeline">
          <i id="nav-timeline" class="material-icons md-48 md-light mx-3">
            date_range
          </i>
        </a>
        <a href="#projects">
          <i
            id="nav-projects"
            class="material-icons md-48 md-light md-inactive mx-3"
          >
            work_outline
          </i>
        </a>
        <a href="#media">
          <i
            id="nav-media"
            class="material-icons md-48 md-light md-inactive mx-3"
          >
            share
          </i>
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  #navbar {
    width: 100%;
    height: 64px;
    background-color: rgb(255, 109, 109);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 9999;
  }
  #navbar.active {
    width: 100%;
    height: 64px;
    background-color: rgb(255, 109, 109);
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 9999;
  }
</style>
