<div class="container timeline">
  <div class="row">
    <div class="col">
      <div class="box my-5">
        <ul id="first-list">
          <li>
            <div class="year">2017</div>
          </li>
          <li>
            <span></span>
            <div class="title">AMUNDI</div>
            <div class="info">
              Affilié au service de comptabilité de l'entreprise, j'avais pour
              rôle de m'occuper de la saisie des factures et des notes de frais.
            </div>
            <div class="name">- Auxiliaire d'été -</div>
            <div class="time">
              <span>JUL, 1<sup>th</sup></span>
              <span>JUL, 31<sup>th</sup></span>
            </div>
          </li>
          <li>
            <span></span>
            <div class="title">Orange-SuperCodeur</div>
            <div class="info">
              Participation au programme SuperCodeur. Mon rôle était de former
              des collégiens au monde de la programmation.
            </div>
            <div class="name">- Coach -</div>
            <div class="time">
              <span>NOV, 29<sup>th</sup></span>
              <span>NOV, 29<sup>th</sup></span>
            </div>
          </li>
          <li>
            <div class="year">2018</div>
          </li>
          <li>
            <span></span>
            <div class="title">CNRS</div>
            <div class="info">
              Stage au laboratoire de physique des solides au CNRS. Je
              travaillais avec des chercheurs et mon mentor un doctorant sur le
              domaine des mousses d'émulsions.
            </div>
            <div class="name">- Stagiaire -</div>
            <div class="time">
              <span>JAN, 4<sup>th</sup></span>
              <span>FEV, 11<sup>th</sup></span>
            </div>
          </li>
          <li>
            <div class="year">2019</div>
          </li>
          <li>
            <span></span>
            <div class="title">SWITLISH</div>
            <div class="info">
              Stage en tant que developpeur full stack au sein d'un incubateur.
            </div>
            <div class="name">- Stage Développeur Full Stack -</div>
            <div class="time">
              <span>JUL, 1<sup>th</sup></span>
              <span>AUG, 31<sup>th</sup></span>
            </div>
          </li>
          <li>
            <span></span>
            <div class="title">No Larsen</div>
            <div class="info">
              Trésorier de l'association Son & Lumière de l'ECE PARIS.LYON.
            </div>
            <div class="name">- Trésorier -</div>
            <div class="time">
              <span>SEP, 1<sup>st</sup></span>
              <span>APR, 31<sup>th</sup></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
